@page "/learnBlazor/parentComponent"

<h3>parentComponent</h3>

<CascadingValue Value="@MessageForGrandChild" Name="Message">
    <CascadingValue Value="@LuckyNumber" Name="LuckyNumber">
        <_ChildComponent OnButtonClick="ShowMessage"
                         Title="This title is passed as a parameter from Parent Component">

            <ChildSomeContent>
                Some Text between the Tags from Parent Component!!
            </ChildSomeContent>

            <ChildContent>
                <p>This is the Child Content from Parent Component!</p>
                <br />
                <p class="text-primary">Some Other Text</p>
            </ChildContent>

        </_ChildComponent>
    </CascadingValue>
</CascadingValue>

<p>@messageText</p>


@code {
    public string messageText = "";

    private string MessageForGrandChild = "This is a message is passed from Parent Component to Grand Child Component";
    private string LuckyNumber = "7";

    private void ShowMessage()
    {
        messageText = "Button inside child component was clicked!";
    }
}
